@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.branding {
  display: flex;
  padding: 0 70px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  color: #fff;
  /* background: #497aa5; */
}
/* .branding img {
  height: 120px;
  position: relative;
  z-index: 1;
} */
.branding-logo img {
  width: 135px;
  height: 135px;
}
.reg img {
  width: 140px;
  height: 140px;
}
.branding .name {
  width: 65%;
  position: relative;
  z-index: 1;
}
.branding logo {
  height: 100px;
}

h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  z-index: 1;
  /* position: sticky;
  top: 0; */
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
  z-index: 1;
  /* position: sticky;
  top: 0; */
}

nav ul {
  display: flex;
  align-items: center;
}
.navigation li {
  list-style-type: none;
  display: inline-block;
}
.navigation li a {
  text-decoration: none;
  margin-right: 10px;
  color: #fff;
}
.nav ul {
  display: flex;
  align-items: center;
}
.navigation2 li {
  list-style-type: none;
  display: inline-block;
}
.navigation2 li a {
  text-decoration: none;
  margin-right: 10px;
  color: #fff;
}

.navbannerbg {
  /* background: #497aa5; */
  /* background: rgb(255, 49, 49); */
  background: rgb(102, 7, 70);
}

.banner {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  animation: zoom 5s linear infinite;
  transition: ease-in 5s;
}
@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  15% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

#slideImg {
  width: 100%;
  height: 100%;
}

.overlay {
  /* position: absolute; */
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* ###########footer################ */

/* footer {
  display: flex;
  justify-content: center;
} */

h3 {
  color: rgb(249, 226, 227);
}
.footerdiv {
  display: flex;
  margin: 45px auto;
  justify-content: center;
  padding-right: 120px;
}
.footerdiv img {
  position: relative;
  height: 330px;
  width: 300px;
  left: 120px;
}
.footercontainer {
  background: rgb(102, 7, 70);
  border-radius: 13px;
  width: 900px;
  height: 300px;
  margin-top: 45px;
  padding-left: 65px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.footercontainer p {
  font-size: 15px;
}
.ourcompany {
  font-size: 12px;
}
.footerrow {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(249, 226, 227);
}
footer p {
  color: rgb(182, 131, 164);
  line-height: 35px;
}

.cinfo {
  display: flex;
  align-items: center;
}
.cinfo p {
  padding-left: 20px;
  font-size: 17px;
}
.cinfo i {
  color: #898989;
  font-size: 17px;
}

.footerinfo p a {
  color: rgb(182, 131, 164);
  text-decoration: none;
  font-size: 17px;
}
.footerinfo p a:hover {
  text-decoration: underline;
}
.site-map {
  width: 180px;
}
.site-map p a {
  font-size: 17px;
}
.splash {
  display: none;
}

.ourcompany {
  color: rgb(249, 226, 227);
  font-size: 17px;
}

/* #################### footer end########### */

/* ###################about us #############*/

h1 {
  font-family: "Monoton", cursive;
  color: rgb(19, 101, 201);
  font-size: 60px;
  word-spacing: 15px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
section {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.row {
  margin: 30px 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.aboutin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.personsrow {
  display: flex;
  justify-content: space-between;
}
.persons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.persons img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.persons p {
  font-size: 15px;
  text-align: center;
}
.aboutname {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aboutdata p {
  text-align: justify;
}
p {
  line-height: 25px;
  color: #730025;
  font-size: 21px;
}
button {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border: none;
  padding: 8px;
  font-size: 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  font-family: cursive;
  margin: 20px 0;
  border-radius: 5px;
}

.board-table {
  display: flex;
  justify-content: center;
}
.tableboard {
  border-collapse: collapse;
  position: relative;
  width: 75%;
}
td,
th {
  border: 1px solid #d8b4b4;
  text-align: center;
  padding: 15px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.chairman-message {
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  color: #898989;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  margin-top: 20px;
}
.chairman-message p:first-child {
  color: #dddddd;
  width: 220px;
}

#cmtext {
  width: 100%;
}

/* ######################### end about us ########### */

/* ####################### members #################### */

.folder-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.folder-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.folder img {
  width: 160px;
}

/* ####################### end members ################### */

/* ###################### articles #################### */

.cardphoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 15px 50px rgb(0 0 0 / 10%);
}
.cardphoto img {
  position: relative;
  width: 100%;
}
.photoinfo {
  background: #e4d4d2;
  padding: 30px;
}

.idxart p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ###################### end articles #################### */

/* #################### branchfiles ########## */

.files-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.files-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.file img {
  width: 160px;
}

/* ################## end branchfiles ########## */

/* ############################## loan ################################# */

.loan-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}
.loan-card img {
  position: relative;
  width: 90%;
}

.loaninput {
  display: flex;
  flex-direction: column;
}
.loan-message {
  background: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  color: #2cb5e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  transition: 1s;
}
.cross:hover {
  cursor: pointer;
}
/* ############################## end loan ################################# */

/* ###############contact us############### */
.contactrow {
  height: 500px;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.contactdetails {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactdetails h2,
.detailbox p {
  color: #fff;
}

.contact-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contactForm {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 50px 20px;
}
.title p {
  text-align: center;
}
.contactForm h3 {
  color: #111;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 500px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300px;
  resize: none;
}
.contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* ####### contact info ######### */

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 15px 50px rgb(0 0 0 / 10%);
  margin: 20px;
  width: 250px;
  height: 200px;
}

.icon i {
  font-size: 2rem;

  color: #8f004f;
}

.details h3 {
  font-size: 25px;
  margin: 10px auto;
  color: #797475;
}
.details p {
  line-height: 18px;
  color: darkmagenta;
}

/* ########## map ########### */

.map iframe {
  width: 100%;
  height: 100%;
  position: relative;
}
.map {
  margin: 50px 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  width: 500px;
}

/* ################################ end contact us ##################### */

/* ####################### admin panel ########################### */

.post-upload {
  display: flex;
  justify-content: space-evenly;
}
.post-chairman,
.upload-members {
  width: 30%;
}
.container h2 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.userformdiv {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.usercontactdiv {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

label {
  font-size: 20px;
  margin: 20px 0;
}

.tableuser {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}
.tablecontact {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

td img {
  width: 30px;
  height: 30px;
}

.tablecol a {
  display: block;
}

.memberinput {
  display: flex;
  flex-direction: column;
}
input[type="file"] {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border: none;
  padding: 8px;
  font-size: 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  font-family: cursive;
  margin: 20px 0;
  border-radius: 5px;
}
input[type="text"] {
  height: 36px;
  border: 2px solid #7070ea;
  border-radius: 5px;
  margin: 10px 0;
}
.cminput {
  display: flex;
  flex-direction: column;
}
.cminput textarea {
  border: 2px solid #7070ea;
  border-radius: 5px;
}

/* ########################### login form ################## */

.loginform {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

input[type="password"] {
  height: 36px;
  border: 2px solid #7070ea;
  border-radius: 5px;
  margin: 10px 0;
}

/* ########################### end login form ################## */

/* #################### media query ##################### */

@media (max-width: 1179px) {
  .details p {
    font-size: 15px;
  }
  .details h3 {
    font-size: 20px;
  }
  .icon i {
    font-size: 25px;
  }
}

@media (max-width: 1025px) {
  .branding-logo img {
    width: 115px;
    height: 125px;
  }
  .reg img {
    width: 115px;
    height: 125px;
  }
  section {
    padding: 50px 50px;
  }
  .footerdiv {
    padding-right: 60px;
  }
  .contactForm {
    width: 50%;
    padding: 25px 50px;
    margin: 50px 0px;
  }
  .post-chairman,
  .upload-members {
    width: 40%;
  }
}

@media (max-width: 902px) {
  .reg img {
    width: 105px;
    height: 115px;
  }
  .branding-logo img {
    width: 100px;
    height: 115px;
  }
  .chairman-message p:first-child {
    width: 221px;
  }
  h2 {
    font-size: 20px;
  }
  .branding {
    padding: 0;
    justify-content: space-around;
  }
  .persons img {
    width: 170px;
    height: 170px;
  }
  .persons p {
    font-size: 11px;
  }
  p {
    font-size: 16px;
  }
  .cinfo p {
    font-size: 12px;
  }
  .site-map p a {
    font-size: 13px;
  }
  .footerdiv img {
    position: relative;
    height: 310px;
    width: 200px;
    left: 55px;
  }
  .footerrow {
    position: relative;
    width: 99%;
  }
  .footercontainer {
    padding-left: 40px;
  }
  .card {
    padding: 5px;
  }
  .contactForm .inputBox {
    margin-bottom: 10px;
  }
}

@media (max-width: 863px) {
  .userformdiv {
    overflow: scroll;
    justify-content: flex-start;
  }
}

@media (max-width: 835px) {
  .tableuser td {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 769px) {
  .navigation li a {
    font-size: 13px;
  }
  .branding-logo img {
    width: 80px;
    height: 100px;
  }
  h2 {
    font-size: 15px;
  }
  .reg img {
    width: 90px;
    height: 100px;
  }
  h1 {
    font-size: 55px;
  }
  .persons img {
    width: 140px;
    height: 140px;
  }
  .persons p {
    font-size: 10px;
  }
  .chairman-message p:first-child {
    width: 164px;
  }
  .container {
    width: 95%;
  }
  .reg img {
    width: 80px;
    height: 90px;
  }
  .branding-logo img {
    width: 70px;
    height: 90px;
  }
  .chairman-message p:first-child {
    width: 80px;
  }
  .persons {
    align-items: center;
  }
  .personsrow {
    flex-direction: column;
  }
  .persons img {
    width: 200px;
    height: 200px;
  }
  .persons p {
    font-size: 15px;
  }
  .persons-card {
    margin: 0 0 30px;
  }
  .footercontainer p {
    font-size: 13px;
  }
  .folder img {
    width: 80px;
  }
  .g-recaptcha {
    width: 266px;
    margin-left: -20px;
    overflow: hidden;
  }
  .tableuser td {
    font-size: 12px;
    padding: 5px;
  }

  button {
    font-size: 12px;
  }
  .tablecontact td {
    font-size: 12px;
  }
  .file img {
    width: 80px;
  }
  .file p {
    font-size: 13px;
  }
}

@media (max-width: 763px) {
  .details h3 {
    font-size: 15px;
  }
  .details p {
    font-size: 12px;
  }
  .icon i {
    font-size: 20px;
  }
}

@media (max-width: 736px) {
  .contact-map {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactForm {
    width: 500px;
  }
  .g-recaptcha {
    width: 100%;
    padding-left: 20px;
  }
  .map {
    height: 400px;
  }
  .card {
    margin: 5px;
  }
}

@media (max-width: 620px) {
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../assets/menu.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.2s;
  }
  nav .navigation {
    display: none;
  }
  nav .navigation li {
    margin: 10px;
  }
  nav .navigation.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0277bd;
    z-index: 1;
  }
  nav .navigation li a {
    color: #fff;
    font-size: 1.6rem;
  }
  .menuToggle.active {
    background: url("../assets/close.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
  }
  .post-upload {
    flex-direction: column;
    align-items: center;
  }
  .post-chairman,
  .upload-members {
    width: 90%;
  }
}

@media (max-width: 535px) {
  .articles-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardphoto {
    width: 280px;
    margin-bottom: 30px;
  }
  .footerdiv img {
    height: 275px;
    width: 161px;
    left: 47px;
  }
  .folder img {
    width: 80px;
  }
  .folder img {
    width: 60px;
  }
  .loan-card img {
    width: 80px;
    height: 80px;
  }
  .contactForm {
    width: 350px;
  }
  .map {
    width: 350px;
    height: 300px;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  .card {
    width: 170px;
  }
}
@media (max-width: 469px) {
  .footerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .site-map p a {
    font-size: 12px;
  }
  .cinfo p {
    font-size: 13px;
  }

  .footercontainer {
    width: 100%;
    padding: 10px 0 0px 8px;
  }
  .footerdiv img {
    left: 0;
  }
  .splash {
    display: block;
  }
  .splash img {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: -350px;
  }
  .loan-card {
    margin: 10px;
  }
  .loan-card img {
    width: 60px;
    height: 60px;
  }
  .loan-card p {
    font-size: 13px;
  }
  .card {
    width: 140px;
  }
  .contactForm {
    width: 300px;
    padding: 15px;
  }
  .map {
    width: 300px;
  }
}
@media (max-width: 468px) {
  .tableboard td {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  h1 {
    font-size: 48px;
  }
  .chairman-message p:first-child {
    width: 65px;
    font-size: 13px;
  }

  .branding-logo img {
    width: 55px;
    height: 75px;
  }
  .reg img {
    width: 70px;
    height: 75px;
  }
  h2 {
    font-size: 13px;
  }
  .site-map p a {
    font-size: 10px;
  }
}

@media (max-width: 376px) {
  .footercontainer p {
    font-size: 10px;
  }
  .ourcompany {
    font-size: 12px;
  }
  h1 {
    font-size: 36px;
  }
  .branding-logo img {
    width: 50px;
    height: 65px;
  }
  .reg img {
    width: 60px;
    height: 65px;
  }
  .tableboard td {
    font-size: 9px;
  }
  .tablecontact td,
  th {
    padding: 10px;
  }
  .g-recaptcha {
    width: 285px;
    margin-left: -20px;
    overflow: hidden;
  }
  section {
    padding: 40px 40px;
  }
  .card {
    width: 210px;
  }
  .file img {
    width: 60px;
  }
  .file p {
    font-size: 11px;
  }
}

@media (max-width: 321px) {
  h1 {
    font-size: 32px;
  }
  .loan-card img {
    width: 50px;
    height: 50px;
  }
  .loan-card p {
    font-size: 10px;
  }
  .ourcompany {
    font-size: 12px;
  }
}
/* #################### end media query ##################### */
