{%extends 'base.html'%}

{%block body%}

<section class="aboutus" id="aboutus">
    <div class="container">
        <h1>About us</h1>
        <div class="aboutdata">
            <p>The authorized share capital of the society is of Rs. 500000000/- divided into 50000000 shares of Rs.
                10/- each. The Following persons are eligible to admitted as ordinary members: He is permanent Railway
                employee or a temporary employee having not less than 03 months service. (The 03 months service will be
                counted after screening in case of casual employee) and is employee in any of the office under the
                control of Northern Railway Head Quarters Office, Divisional Railway Manager, Northern Railway Delhi,
                Firozepur, Ambala, Offices, Mechanical Workshop, Northern Railway, Amritsar, Carriage and wagon
                Workshop, Northern Railway Jagadhari Workshop, Signal Workshop Northern Railway Ghaziabad, Printing
                Press Northern Railway Sakurbasti, Dy. Controller of Store office Sakurbasti, Diesel Workshop
                Tuglakabad, Ghaziabad Audit Staff and all the subordinate offices within the area of operation working
                under the control of Northern Railway, Divisional Railway Managers, Northern Railway Delhi, Firozepur,
                Ambala and Locomotive Component Workshop, Varansi& Patiala, Officers having lien in Northern Railway,
                Officers and staff of R.C.F. Kapurthala, Raiwlay.</p>
        </div>
    </div>
</section>
<section class="board-members">
    <div class="container">
        <h1>board member names</h1>
        <div class="board-directors">
            <div class="board-table">

                <table class="tableboard">
                    <tr>
                        <td>CH.AJIT SINGH (CHAIRMAN)</td>
                        <td>Mr.KANWAL JEET SINGH (VICE CHAIRMAN)</td>
                    </tr>
                    <tr>
                        <td>Mr. JAGAN PRASAD SHARMA (C.E.O)</td>
                        <td>DEVERENDER (DIRECTOR HQ)</td>
                    </tr>
                    <tr>
                        <td>SANJEEV KUMIR (DIRECTOR HQ)</td>
                        <td>DEVENDER SINGH GILL (DIRECTOR HQ)</td>
                    </tr>
                    <tr>
                        <td>SURAJ PRAKASH (DIRECTOR DD)</td>
                        <td>SUBHASH CHAND (DIRECTOR DD)</td>
                    </tr>
                    <tr>
                        <td>JAI KISHAN (DIRECTOR DD)</td>
                        <td>K.K.BOSE (DIRECTOR DD)</td>
                    </tr>
                    <tr>
                        <td>YUNUS KHAN (DIRECTOR DD)</td>
                        <td>VIRENDER KUMAR (DIRECTOR AMBALA)</td>
                    </tr>
                    <tr>
                        <td>MOHINDER KUMAR (DIRECTOR ASR)</td>
                        <td>DEEPAK GUPTA (DIRECTOR PTK)</td>
                    </tr>
                    <tr>
                        <td>SANDEEP KUMAR (DIRECTOR FZR)</td>
                        <td>ROHIT YADAV( DIRECTOR TKD)</td>
                    </tr>
                    <tr>
                        <td>S.K.SHARMA(DIRECTOR AMBALA)</td>
                        <td>PRAMOD KUMAR(DIRECTOR AMBALA)</td>
                    </tr>
                    <tr>
                        <td>VIJAY KUMAR (DIRECTOR JUD)</td>
                        <td>SUKHPAL SING (DIRECTOR CO-OPT)</td>
                    </tr>
                    <tr>
                        <td>RAJESWAR (DIRECTOR CO-OPT)</td>
                        <td>GURMAIL(DIRECTOR PTA)</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</section>


{%endblock%}