{%extends 'base.html'%}


<body>

    {%block body%}
    {%load static%}
    <section class="articles" id="articles">
        <div class="container">
            <h1>Articles</h1>
            <div class="row articles-row">
                <div class="cardphoto">
                    <img src="{%static 'assets/article1_sadsansad.jpg'%}" alt="">
                    <div class="photoinfo">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis non quis molestiae enim.
                            Porro accusantium qui illo, illum ipsum expedita minus molestiae corporis sit magnam,
                            facilis eveniet non quaerat laboriosam fugit, vitae cumque. Sequi, corrupti accusantium
                            praesentium tempora rerum consectetur aliquid harum impedit possimus omnis dolorem neque
                            suscipit amet at.</p>

                    </div>

                </div>
                <div class="cardphoto">
                    <img src="{%static 'assets/article1_sadsansad.jpg'%}" alt="">
                    <div class="photoinfo">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis non quis molestiae enim.
                            Porro accusantium qui illo, illum ipsum expedita minus molestiae corporis sit magnam,
                            facilis eveniet non quaerat laboriosam fugit, vitae cumque. Sequi, corrupti accusantium
                            praesentium tempora rerum consectetur aliquid harum impedit possimus omnis dolorem neque
                            suscipit amet at.</p>

                    </div>

                </div>
                <div class="cardphoto">
                    <img src="{%static 'assets/article1_sadsansad.jpg'%}" alt="">
                    <div class="photoinfo">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis non quis molestiae enim.
                            Porro accusantium qui illo, illum ipsum expedita minus molestiae corporis sit magnam,
                            facilis eveniet non quaerat laboriosam fugit, vitae cumque. Sequi, corrupti accusantium
                            praesentium tempora rerum consectetur aliquid harum impedit possimus omnis dolorem neque
                            suscipit amet at.</p>

                    </div>

                </div>
            </div>
        </div>
    </section>
    {%endblock%}
</body>

</html>