{%extends 'base.html'%}


<body>

    {%block body%}
    {% load static %}
    {% if messages %}
    {% for message in messages %}
    <div class="loan-message" id="loan-message">
        <strong>{{message}}</strong>
        <div class="cross" id="cross" onclick="disableMessage()">&#10060;</div>
    </div>
    {% endfor %} {% endif %}
    <section class="members">
        <div class="container">
            <h1>members</h1>
            <div class="folder-row">
                <div class="folder-container">
                    {% for branch in branch_files %}
                    {% for i in branch %}
                    <div class="folder">
                        <a href="./branchfiles/{{i}}"><img src="{% static 'assets/folder2.png' %}" alt=""></a>
                        <p> {{i}}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {%endblock%}
</body>

</html>